.frontrom-about-contact-section {
    
    .icon-text {
        
        .title {
            font-size: 30px !important;
            font-weight: 600 !important;
            text-transform: uppercase !important;
            color: #fff !important;
            line-height: 1.7 !important;
            margin-left: 10px;
            font-family: 'Open Sans', sans-serif !important;
        }
    }
}